/* OVERKOEPELENDE STRUCTUUR VAN DE PAGINA */

container.grid {
    display:grid;
    grid-template-columns: 220px auto;
    grid-template-rows: 70px auto;
    grid-template-areas: 
        "logo header"
        "navigation main";
    font-family: 'Open Sans', sans-serif;
    color:rgb(102, 102, 102);
}

.logo{
    grid-area: logo;
    background-color: #17c4bb;
    display:flex;
    align-items: center;
    justify-content: center;
}

.header{
    grid-area: header;
    display: flex;
    align-items: center;
    padding-left:30px;
}

.header img{
    margin-top:4px;
    height:1.8em;
    padding-right:10px;
}

.header-title{
    font-size:2em;
}

.nav{
    padding-top:20px;
    grid-area:navigation;
    background-color: #34495e;
    color:#c3cee0;
    
}

.main{
    grid-area:main;
    background-color:#eef1f5;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width:100%;
    display:flex;
    flex-direction: column;

}

.nav-item{
    width:100%;
    border: 1px solid rgb(57, 79, 102);
    border-left-color: rgb(52, 73, 94);
    border-right-color: rgb(52, 73, 94);    
    padding-left: 30px;
    line-height:50px;
    box-sizing: border-box;
}

.nav-item:hover{
    background-color: rgb(39, 53, 77);
}

.main{
    padding:25px;
}

.main-container{
    background-color: white;
    width:100%;
    padding:20px;
    margin-bottom:20px;
}

/* EINDE VAN DE OVERKOEPELENDE STRUCTUUR VAN DE PAGINA */ 


/* DASHBOARDPAGINA */

.main-filter{
    display: inline-block;
    padding-right:10px;
    padding-top:10px;
}

.main-filter label {
    padding-right: 10px;
}



.main-title{
    font-size: 1.5em;
    padding-bottom: 10px;
}

select{
    width:100px;
    height:20px;
}

/* EINDE VAN DASHBOARDPAGINA */



/* DETAILPAGINA */

.detail-wrapper div label{
    width:120px;
}

.detail-titles{
    width:120px;
    display:inline-block;
    vertical-align: top;
    font-weight: bold;
}
.detail-inhoud{
    display: inline-block;
}

.detail-ticket-wrapper{
    width:100%;
}

.main-container .btn-group button{

    margin-top:20px;
}

.detail-ticket-wrapper div div{
    margin-bottom: 4px;
}

/* EINDE VAN DETAILPAGINA */